<a href="https://colab.research.google.com/github/Suruchi264/NLP-DL-ML/blob/main/SQLite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***SQL & SQLite ***

SQL is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems. You can store it in your local machine. Embedded in python3

In [1]:
import sqlite3

In [2]:
## Connect to an SQLite DAtsbase

connection = sqlite3.connect('example.db')
connection

In [3]:
cursor = connection.cursor()

In [5]:
##Create a Table
cursor.execute('''
CREATE TABLE If not exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text
    )
''')

## Commit the changes
connection.commit()

In [6]:
##Create a Table
cursor.execute('''
select * from employees

''')

In [44]:
## Insert the data in sqlite table
cursor.execute('''
INSERT INTO employees (name, age, department)
                VALUES('Suruchi', 22, 'Data Scientist')
''')

cursor.execute('''
INSERT INTO employees (name, age, department)
                VALUES('Rory', 22, 'Data Analyst')
''')

cursor.execute('''
INSERT INTO employees (name, age, department)
                VALUES('Lorelai', 21, 'Data Engineer')
''')

cursor.execute('''
INSERT INTO employees (name, age, department)
                VALUES('Alfie', 24, 'Software Engineer')
''')

cursor.execute('''
INSERT INTO employees (name, age, department)
                VALUES('Emily', 25, 'UI/UX Designer')
''')


cursor.execute('''
INSERT INTO employees (name, age, department)
                VALUES ('Gabriel', 26, 'Frontend Developer')
''')


cursor.execute('''
INSERT INTO employees (name, age, department)
                VALUES ('Joshua', 27, 'Backend Developer')
''')

cursor.execute('''
INSERT INTO employees (name, age, department)
                VALUES ('Kunal', 28, 'Full Stack Developer')
''')

cursor.execute('''
INSERT INTO employees (name, age, department)
                VALUES ('Damon', 29, 'Data Scientist')
''')

cursor.execute('''
INSERT INTO employees (name, age, department)
                VALUES ('Stefan', 31, 'Data Scientist')
''')
connection.commit()

In [45]:
## Query the data from the table
# cursor.execute('DELETE FROM employees') # Clear existing data
cursor.execute('Select * from employees')
rows = cursor.fetchall()

## print the queried data
if not rows:
    print("No data found in the table.")
else:
    for row in rows:
        print(row)

(1, 'Suruchi', 22, 'Data Scientist')
(2, 'Rory', 22, 'Data Analyst')
(3, 'Lorelai', 21, 'Data Engineer')
(4, 'Alfie', 24, 'Software Engineer')
(5, 'Emily', 25, 'UI/UX Designer')
(6, 'Gabriel', 26, 'Frontend Developer')
(7, 'Joshua', 27, 'Backend Developer')
(8, 'Kunal', 28, 'Full Stack Developer')
(9, 'Damon', 29, 'Data Scientist')
(10, 'Stefan', 31, 'Data Scientist')

In [56]:
## Update the data in the table
cursor.execute('''
UPDATE employees
SET age = 25, department = 'Sales'
WHERE name = 'Suru'
''')
connection.commit()

print("Record for Josh updated successfully.")

Record for Josh updated successfully.

In [54]:
cursor.execute('Select * from employees')
rows = cursor.fetchall()

## print the queried data
if not rows:
    print("No data found in the table.")
else:
    for row in rows:
        print(row)

(1, 'Suruchi', 22, 'Data Scientist')
(2, 'Rory', 22, 'Data Analyst')
(3, 'Lorelai', 21, 'Data Engineer')
(4, 'Alfie', 24, 'Software Engineer')
(5, 'Emily', 25, 'UI/UX Designer')
(6, 'Gabriel', 26, 'Frontend Developer')
(7, 'Joshua', 27, 'Backend Developer')
(8, 'Kunal', 28, 'Full Stack Developer')
(9, 'Damon', 29, 'Data Scientist')
(10, 'Stefan', 31, 'Data Scientist')
(11, 'Josh', 23, 'Marketing')

In [49]:
## Insert a new record with the name 'Josh'
cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Josh', 23, 'Marketing')
''')
connection.commit()

print("Record for Josh inserted successfully.")

Record for Josh inserted successfully.

In [55]:
cursor.execute('Select * from employees')
rows = cursor.fetchall()

## print the queried data
if not rows:
    print("No data found in the table.")
else:
    for row in rows:
        print(row)

(1, 'Suruchi', 22, 'Data Scientist')
(2, 'Rory', 22, 'Data Analyst')
(3, 'Lorelai', 21, 'Data Engineer')
(4, 'Alfie', 24, 'Software Engineer')
(5, 'Emily', 25, 'UI/UX Designer')
(6, 'Gabriel', 26, 'Frontend Developer')
(7, 'Joshua', 27, 'Backend Developer')
(8, 'Kunal', 28, 'Full Stack Developer')
(9, 'Damon', 29, 'Data Scientist')
(10, 'Stefan', 31, 'Data Scientist')
(11, 'Josh', 23, 'Marketing')

In [57]:
## Update the data in the table
cursor.execute('''
UPDATE employees
SET age = 25, department = 'Sales'
WHERE name = 'Suru'
''')
connection.commit()

In [59]:
cursor.execute('Select * from employees')
rows = cursor.fetchall()

## print the queried data
if not rows:
    print("No data found in the table.")
else:
    for row in rows:
        print(row)

(1, 'Suruchi', 22, 'Data Scientist')
(2, 'Rory', 22, 'Data Analyst')
(3, 'Lorelai', 21, 'Data Engineer')
(4, 'Alfie', 24, 'Software Engineer')
(5, 'Emily', 25, 'UI/UX Designer')
(6, 'Gabriel', 26, 'Frontend Developer')
(7, 'Joshua', 27, 'Backend Developer')
(8, 'Kunal', 28, 'Full Stack Developer')
(9, 'Damon', 29, 'Data Scientist')
(10, 'Stefan', 31, 'Data Scientist')
(11, 'Josh', 23, 'Marketing')

In [60]:
## Delete the data from the table
cursor.execute('''
Delete from employees
where name = 'Josh'
''')
connection.commit()

In [61]:
cursor.execute('Select * from employees')
rows = cursor.fetchall()

## print the queried data
if not rows:
    print("No data found in the table.")
else:
    for row in rows:
        print(row)

(1, 'Suruchi', 22, 'Data Scientist')
(2, 'Rory', 22, 'Data Analyst')
(3, 'Lorelai', 21, 'Data Engineer')
(4, 'Alfie', 24, 'Software Engineer')
(5, 'Emily', 25, 'UI/UX Designer')
(6, 'Gabriel', 26, 'Frontend Developer')
(7, 'Joshua', 27, 'Backend Developer')
(8, 'Kunal', 28, 'Full Stack Developer')
(9, 'Damon', 29, 'Data Scientist')
(10, 'Stefan', 31, 'Data Scientist')

In [66]:
## Working with sales data
## Connect to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

## create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

## Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product A', 100, 'North'),
    ('2023-01-02', 'Product B', 150, 'South'),
    ('2023-01-03', 'Product C', 200, 'East'),
    ('2023-01-04', 'Product A', 120, 'West'),
    ('2023-01-05', 'Product B', 180, 'North'),
    ('2023-01-06', 'Product C', 220, 'South'),
    ('2023-01-07', 'Product A', 90, 'East'),
    ('2023-01-08', 'Product B', 160, 'West'),
    ('2023-01-09', 'Product C', 190, 'North'),
]
cursor.executemany('''
INSERT INTO sales(date, product, sales, region)
VALUES (?, ?, ?, ?)''', sales_data)
connection.commit()

In [68]:
cursor.execute('Select * from sales')
rows = cursor.fetchall()

## print the queried data
if not rows:
    print("No data found in the table.")
else:
    for row in rows:
        print(row)

(1, '2023-01-01', 'Product A', 100, 'North')
(2, '2023-01-02', 'Product B', 150, 'South')
(3, '2023-01-03', 'Product C', 200, 'East')
(4, '2023-01-04', 'Product A', 120, 'West')
(5, '2023-01-05', 'Product B', 180, 'North')
(6, '2023-01-06', 'Product C', 220, 'South')
(7, '2023-01-07', 'Product A', 90, 'East')
(8, '2023-01-08', 'Product B', 160, 'West')
(9, '2023-01-09', 'Product C', 190, 'North')
(10, '2023-01-01', 'Product A', 100, 'North')
(11, '2023-01-02', 'Product B', 150, 'South')
(12, '2023-01-03', 'Product C', 200, 'East')
(13, '2023-01-04', 'Product A', 120, 'West')
(14, '2023-01-05', 'Product B', 180, 'North')
(15, '2023-01-06', 'Product C', 220, 'South')
(16, '2023-01-07', 'Product A', 90, 'East')
(17, '2023-01-08', 'Product B', 160, 'West')
(18, '2023-01-09', 'Product C', 190, 'North')

In [69]:
## Close the connection

connection.close()

***Assignment 1: Creating and Connecting to a Database***

1. Write a Python function to create a new SQLite3 database named `test.db`.
2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

In [40]:
import sqlite3
cursor = connection.cursor()

In [27]:
cursor.execute('DELETE FROM employees')

In [47]:
## Connect to an SQLite DAtsbase

connection = sqlite3.connect('test.db')
connection

In [48]:
cursor = connection.cursor()

In [32]:
## create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees (
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text
)
''')

## Insert data into the sales table
# Check if the table is empty before inserting
cursor.execute('SELECT COUNT(*) FROM employees')
count = cursor.fetchone()[0]

if count == 0:
    employees_table = [
        ('Suruchi', 22, 'Data Scientist'),
        ('Rory', 22, 'Data Analyst'),
        ('Lorelai', 21, 'Data Engineer'),
        ('Alfie', 24, 'Software Engineer'),
        ('Emily', 25, 'UI/UX Designer'),
        ('Gabriel', 26, 'Frontend Developer'),
        ('Joshua', 27, 'Backend Developer'),
        ('Kunal', 28, 'Full Stack Developer'),
        ('Damon', 29, 'Data Scientist'),
        ('Stefan', 31, 'Data Scientist')
    ]
    cursor.executemany('''
    INSERT INTO employees(name, age, department)
    VALUES (?, ?, ?)''', employees_table)
    connection.commit()
    print("Initial employee data inserted successfully.")
else:
    print("Employees table is not empty. Skipping initial data insertion.")

Employees table is not empty. Skipping initial data insertion.

In [33]:
# cursor.execute('DELETE FROM employees') # Clear existing data
cursor.execute('Select * from employees')
rows = cursor.fetchall()

## print the queried data
if not rows:
    print("No data found in the table.")
else:
    for row in rows:
        print(row)

(1, 'Suruchi', 22, 'Data Scientist')
(2, 'Rory', 22, 'Data Analyst')
(3, 'Lorelai', 21, 'Data Engineer')
(4, 'Alfie', 24, 'Software Engineer')
(5, 'Emily', 25, 'UI/UX Designer')
(6, 'Gabriel', 26, 'Frontend Developer')
(7, 'Joshua', 27, 'Backend Developer')
(8, 'Kunal', 28, 'Full Stack Developer')
(9, 'Damon', 29, 'Data Scientist')
(10, 'Stefan', 31, 'Data Scientist')

***Assignment 2: Inserting Data***

1. Write a Python function to insert a new employee into the `employees` table.
2. Insert at least 5 different employees into the `employees` table.

In [ ]:
## It's done above!! Woaaaaaaaah I am so happy!!!! I am so smart!

***Assignment 3: Querying Data***

1. Write a Python function to fetch and display all records from the `employees` table.
2. Write a Python function to fetch and display all employees from a specific department.

In [34]:
def fetch_all_employees():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM employees')
    records = cursor.fetchall()
    conn.close()
    for record in records:
        print(record)

# Test the function
fetch_all_employees()

(1, 'Suruchi', 22, 'Data Scientist')
(2, 'Rory', 22, 'Data Analyst')
(3, 'Lorelai', 21, 'Data Engineer')
(4, 'Alfie', 24, 'Software Engineer')
(5, 'Emily', 25, 'UI/UX Designer')
(6, 'Gabriel', 26, 'Frontend Developer')
(7, 'Joshua', 27, 'Backend Developer')
(8, 'Kunal', 28, 'Full Stack Developer')
(9, 'Damon', 29, 'Data Scientist')
(10, 'Stefan', 31, 'Data Scientist')

In [35]:
# 2nd one is below

# Specify the department you want to query
def fetch_employees_by_department(department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM employees WHERE department = ?', (department,))
    records = cursor.fetchall()
    conn.close()
    for record in records:
        print(record)

# Test the function
fetch_employees_by_department('Data Scientist')

(1, 'Suruchi', 22, 'Data Scientist')
(9, 'Damon', 29, 'Data Scientist')
(10, 'Stefan', 31, 'Data Scientist')

***Assignment 4: Updating Data***

1. Write a Python function to update the department of an employee based on their `id`.
2. Update the department of at least 2 employees and display the updated records.

In [50]:
## Update the data in the table

import sqlite3

# Open the database connection again
connection = sqlite3.connect("test.db", timeout=10)  # replace with your DB file
cursor = connection.cursor()

# Update the data in the table
cursor.execute('''
UPDATE employees
SET department = 'HR'
WHERE id = 1
''')
connection.commit()

print("Record updated successfully.")

OperationalError: database is locked

In [38]:
# cursor.execute('DELETE FROM employees') # Clear existing data
cursor.execute('Select * from employees')
rows = cursor.fetchall()

## print the queried data
if not rows:
    print("No data found in the table.")
else:
    for row in rows:
        print(row)

ProgrammingError: Cannot operate on a closed database.

In [85]:
## Update the department of at least 2 employees and display the updated records.
## Update the data in the table
## Another approach for this completely

def update_employee_department(employee_id, new_department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
        UPDATE employees
        SET department = ?
        WHERE id = ?
    ''', (new_department, employee_id))
    conn.commit()
    conn.close()
    print("Employee department updated successfully.")

# Test the function
update_employee_department(1, 'Finance')

Employee department updated successfully.

In [86]:
# Update the department of 2 employees
update_employee_department(2, 'Research')
update_employee_department(3, 'Customer Support')

# Fetch and display all records
fetch_all_employees()

Employee department updated successfully.
Employee department updated successfully.
(1, 'Suruchi', 22, 'Finance')
(2, 'Rory', 22, 'Research')
(3, 'Lorelai', 21, 'Customer Support')
(4, 'Alfie', 24, 'Software Engineer')
(5, 'Emily', 25, 'UI/UX Designer')
(6, 'Gabriel', 26, 'Frontend Developer')
(7, 'Joshua', 27, 'Backend Developer')
(8, 'Kunal', 28, 'Full Stack Developer')
(9, 'Damon', 29, 'Data Scientist')
(10, 'Stefan', 31, 'Data Scientist')

***Assignment 5: Deleting Data***

1. Write a Python function to delete an employee from the `employees` table based on their `id`.
2. Delete at least 1 employee and display the remaining records.

In [89]:
def delete_employee_record(employee_id):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
        DELETE from employees
        WHERE id = ?
    ''', (employee_id,))
    conn.commit()
    conn.close()
    print("Employee department deleted successfully.")

# Test the function
delete_employee_record(8)

Employee department deleted successfully.

In [90]:
def delete_employee_record(employee_id):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
        DELETE from employees
        WHERE id = ?
    ''', (employee_id,))
    conn.commit()
    conn.close()
    print("Employee department deleted successfully.")

# Test the function
delete_employee_record(9)

Employee department deleted successfully.

In [91]:
fetch_all_employees()

(1, 'Suruchi', 22, 'Finance')
(2, 'Rory', 22, 'Research')
(3, 'Lorelai', 21, 'Customer Support')
(4, 'Alfie', 24, 'Software Engineer')
(5, 'Emily', 25, 'UI/UX Designer')
(6, 'Gabriel', 26, 'Frontend Developer')
(7, 'Joshua', 27, 'Backend Developer')
(10, 'Stefan', 31, 'Data Scientist')

***Assignment 6: Advanced Queries***

1. Write a Python function to fetch and display employees older than a certain age.
2. Write a Python function to fetch and display employees whose names start with a specific letter.

In [94]:
def fetch_employees_by_condition(age):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM employees WHERE age > ?', (age,))
    records = cursor.fetchall()
    conn.close()
    for record in records:
        print(record)

# Test the function
fetch_employees_by_condition(25)

(6, 'Gabriel', 26, 'Frontend Developer')
(7, 'Joshua', 27, 'Backend Developer')
(10, 'Stefan', 31, 'Data Scientist')

In [95]:
def fetch_employees_by_condition2(letter):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM employees WHERE name LIKE ?', (letter + '%',))
    records = cursor.fetchall()
    conn.close()
    for record in records:
        print(record)

# Test the function
fetch_employees_by_condition2('S')

(1, 'Suruchi', 22, 'Finance')
(10, 'Stefan', 31, 'Data Scientist')

***Assignment 7: Handling Transactions***

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.
2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

In [96]:
def insert_multiple_employees(employees):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.executemany('''
            INSERT INTO employees (id, name, age, department)
            VALUES (?, ?, ?, ?)
        ''', employees)
        conn.commit()
        print("All employees inserted successfully.")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()

# Test the function with valid and invalid data
employees = [
    (6, 'Frank', 40, 'Finance'),
    (7, 'Grace', 29, 'Engineering'),
    (8, 'Hannah', 35, 'Marketing'),
    (9, 'Ivan', 38, 'Sales'),
    (6, 'Jack', 45, 'HR')  # Duplicate ID to cause an error
]
insert_multiple_employees(employees)

Error occurred, transaction rolled back.
UNIQUE constraint failed: employees.id

In [97]:
def update_multiple_employees_ages(updates):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.executemany('''
            UPDATE employees
            SET age = ?
            WHERE id = ?
        ''', updates)
        conn.commit()
        print("All employee ages updated successfully.")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()

# Test the function with valid and invalid data
updates = [
    (32, 1),
    (26, 2),
    (33, 3),
    (41, 4),  # Non-existing ID to cause an error
    (23, 5)
]
update_multiple_employees_ages(updates)

All employee ages updated successfully.

***Assignment 8: Creating Relationships***

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).
2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.
3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

In [12]:
## Connect to an SQLite DAtsbase
import sqlite3
connection = sqlite3.connect('test.db')
connection

In [3]:
def create_departments_table():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS departments (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL
        )
    ''')
    conn.commit()
    conn.close()
    print("Table 'departments' created successfully.")

# Test the function
create_departments_table()

Table 'departments' created successfully.

In [7]:
def add_department_foreign_key():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.execute('PRAGMA foreign_keys=off;')
        cursor.execute('BEGIN TRANSACTION;')
        cursor.execute('ALTER TABLE employees RENAME TO old_employees;')
        cursor.execute('''
            CREATE TABLE employees (
                id INTEGER PRIMARY KEY,
                name TEXT NOT NULL,
                age INTEGER,
                department TEXT,
                department_id INTEGER,
                FOREIGN KEY(department_id) REFERENCES departments(id)
            );
        ''')
        cursor.execute('INSERT INTO employees (id, name, age, department) SELECT id, name, age, department FROM old_employees;')
        cursor.execute('DROP TABLE old_employees;')
        cursor.execute('COMMIT;')
        cursor.execute('PRAGMA foreign_keys=on;')
        conn.commit() # Commit the PRAGMA statements as well
        print("Table 'employees' modified successfully.")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()

# Test the function
add_department_foreign_key()

Error occurred, transaction rolled back.
no such table: employees

In [8]:
def insert_department_and_employee(department_id, department_name, employee_id, name, age, department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.execute('''
            INSERT INTO departments (id, name)
            VALUES (?, ?)
        ''', (department_id, department_name))
        cursor.execute('''
            INSERT INTO employees (id, name, age, department, department_id)
            VALUES (?, ?, ?, ?, ?)
        ''', (employee_id, name, age, department, department_id))
        conn.commit()
        print("Department and employee inserted successfully.")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()

# Test the function
insert_department_and_employee(1, 'Finance', 10, 'Zara', 28, 'Finance')

Error occurred, transaction rolled back.
no such table: employees

***Assignment 9: Indexing and Optimization***

1. Create an index on the `name` column of the `employees` table.
2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

In [11]:
def create_index_on_name():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('CREATE INDEX idx_name ON employees(name)')
    conn.commit()
    conn.close()
    print("Index on 'name' column created successfully.")

# Test the function
create_index_on_name()

OperationalError: no such table: main.employees

In [ ]:
import time

def fetch_employees_name_starts_with_performance(letter):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    start_time = time.time()
    cursor.execute('SELECT * FROM employees WHERE name LIKE ?', (letter + '%',))
    records = cursor.fetchall()
    end_time = time.time()
    conn.close()
    print("Time taken: {} seconds".format(end_time - start_time))
    for record in records:
        print(record)

# Test the function with the index
fetch_employees_name_starts_with_performance('A')

***Assignment 10: Backing Up and Restoring Data***

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.
2. Write a Python function to restore the `test.db` database from the `backup.db` file.

In [ ]:
import shutil

def backup_database():
    shutil.copy('test.db', 'backup.db')
    print("Database backed up successfully.")

# Test the function
backup_database()

In [ ]:
def restore_database():
    shutil.copy('backup.db', 'test.db')
    print("Database restored successfully.")

# Test the function
restore_database()